<!-- Before Footer
================================================== -->
<div class="beforefooter">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h3>Be part of the ISMRM Iberian Chapter!</h3>
        <a
          class="btn btn-primary btn-lg"
          target="_blank"
          href="{{ '/membership.html'| relative_url }}"
          >Join us</a
        >
      </div>
      <div class="col-md-4 text-right footersocial">
        <h5>Connect with Us</h5>
        <a target="_blank" href="mailto:iberianchapter@gmail.com"
          ><i class="fa fa-envelope"></i
        ></a>
        <a target="_blank" href="https://twitter.com/ISMRMIberian"
          ><i class="fa fa-twitter"></i
        ></a>
        <a target="_blank" href="https://instagram.com/ismrmiberian"
          ><i class="fa fa-instagram"></i
        ></a>
        <a target="_blank" href="https://www.linkedin.com/in/ismrm-iberian-1b106731b"
          ><i class="fa fa-linkedin-square"></i
        ></a>
        <a target="_blank" href="https://github.com/ismrm-iberian"
          ><i class="fa fa-github"></i
        ></a>
        <a target="_blank" href="https://bsky.app/profile/ismrmiberian.bsky.social"
          ><i class="fa-brands fa-bluesky"></i
        ></a>
      </div>
    </div>
  </div>
</div>
