<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="footer-widget">
                    <a href="{{ '/contact' | relative_url }}">
                        <img
                            src="{{ '/assets/images/logo-footer.png' | relative_url }}"
                        />
                    </a>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="footer-widget">
                    <h5 class="title">About us</h5>
                    <ul>
                        <li>
                            <a href="{{ '/committee' | relative_url }}"
                                >Committee members</a
                            >
                        </li>
                        <li>
                            <a href="{{ '/iberian_labs' | relative_url }}"
                                >Iberian Labs</a
                            >
                        </li>
                        <li>
                            <a href="{{ '/amigo_iberico' | relative_url }}"
                                >Amig@ Iberic@</a
                            >
                        </li>
                        <!--<li><a href="{{ '/awards' | relative_url }}">Awards</a></li>-->
                        <li>
                            <a href="{{ '/contact.html' | relative_url }}"
                                >Contact us</a
                            >
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="footer-widget">
                    <h5 class="title">Meetings</h5>
                    <ul>
                        <li>
                            <a
                                href="{{ '/2021/04/05/pg_meeting.html' | relative_url }}"
                                >Postgraduate Meeting</a
                            >
                        </li>
                        <li>
                            <a
                                href="{{ '/2021/03/29/annual_meeting.html' | relative_url }}"
                                >ISMRM Iberian Chapter Annual Meeting</a
                            >
                        </li>
                        <li>
                            <a href="{{ '/iberian_labs' | relative_url }}"
                                >Meet the MRIberians</a
                            >
                        </li>
                        <!--<li><a href="{{ '/about' | relative_url }}">Past meetings</a></li>-->
                    </ul>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="footer-widget textwidget">
                    <h5 class="title">MRIberians</h5>
                    <p>
                        The ISMRM Iberian Chapter is formed by many labs in
                        Portugal and Spain. See the
                        <a href="{{ '/iberian_labs' | relative_url }}"
                            >list of involved labs</a
                        >
                        and do not hesitate to be part of such an amazing team
                        of researchers.
                    </p>
                    <a target="_blank" href="{{ '/membership' | relative_url }}"
                        >Join the chapter!</a
                    >
                </div>
            </div>
        </div>

        <div class="copyright">
            <p class="pull-left">
                Copyright © {{ site.time | date: "%Y" }} {{ site.name }}.
            </p>
            <p class="pull-right">
                <!-- Please, leave credit to author unless you own a commercial license: https://www.wowthemes.net/freebies-license/ -->
                <a
                    target="_blank"
                    href="https://www.wowthemes.net/free-jekyll-template-affiliates/"
                    >"Affiliates Theme"</a
                >
                - Design & Code by WowThemes.net
            </p>
            <div class="clearfix"></div>
        </div>
    </div>
</footer>
