<div class="sidebar">

        <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
            {% include newsletter.html %}
        </div>

        <div class="sidebar-section">
            <h5><span>Useful</span></h5>
            <ul style="list-none;">
            <li><a href="#">Amig@ Ibérico program</a></li>
            <li><a href="#">Training School Programs</a></li>
            <li><a href="#">Postgraduate Meeting</a></li>
            <li><a href="#">ISMRM Iberian Chapter Annual Meeting</a></li>
            <li><a href="#">Meet the MRIberians</a></li>
            </ul>
        </div>

</div>