<div class="sidebar">

        <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
            {% include newsletter.html %}
        </div>

        <div class="sidebar-section">
            <h5><span>Useful</span></h5>
            <ul style="list-none;">
            <li><a href="{{ site.baseurl }}/amigo_iberico">Amig@ Ibérico Program</a></li>
            <li><a href="#">Training School Programs</a></li>
            <li><a target="_blank" href="https://us14.campaign-archive.com/?e=__test_email__&u=1c9cc503b3f3f5c9fe4e18b16&id=7fec540bd8">Postgraduate Meeting</a></li>
            <li><a href="#">ISMRM Iberian Chapter Annual Meeting</a></li>
            <li><a href="#">Meet the MRIberians</a></li>
            </ul>
        </div>

</div>