---
# Lets add a comment to make this file sass-y.
# Change this file for any custom CSS.
---
// Import partials from `sass_dir` (defaults to `_sass`)

@import
	"syntax"
;

// Change button background on hover
.navbar-light .navbar-nav .nav-link {
	color: rgba(0,0,0,.5);
}

.navbar-toggleable-md .navbar-nav .nav-link.highlight {
	background-color: #1E315B;
}

.btn {
	background-color: #1E315B !important;
	color: white;
}

.btn:hover {
	background: #5b6e98 !important;
}

#mc_embed_signup .button {
	background-color: #1E315B !important;
}

#mc_embed_signup .button:hover {
	background-color: #5b6e98 !important;
}

.footer {
	background-color: #1E315B;
	color: #b4b4b4;
}