---
# Lets add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

// Import partials from `sass_dir` (defaults to `_sass`)

@import "syntax";

.intro {
    background-image: url(../images/banner_7_v4_blue.png) !important;
}

// Change button background on hover
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-toggleable-md .navbar-nav .nav-link.highlight {
    background-color: #1e315b !important;
}

a.btn {
    color: white !important;
}

.btn {
    background-color: #1e315b !important;
    color: white !important;
}

.btn:hover {
    background: #5b6e98 !important;
    border-color: #5b6e98 !important;
}

.btn-primary {
    background-color: #1e315b !important;
    border-color: #1e315b !important;
}

.btn-primary:hover {
    background-color: #5b6e98 !important;
    border-color: #5b6e98 !important;
}

.sidebar #mc_embed_signup .button {
    background-color: #1e315b !important;
}

.sidebar #mc_embed_signup .button:hover {
    background-color: #5b6e98 !important;
    border-color: #5b6e98 !important;
}

.footer {
    background-color: #1e315b !important;
    color: #b4b4b4 !important;
}

.beforefooter {
    background-color: #c1d4fe !important;
}

// Cards

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px !important;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    border-radius: 5px !important;
}

.listfeaturedtag .card {
    border-radius: 5px !important;
}

.listfeaturedtag .thumbnail {
    border-top-left-radius: 5px;
}

// Lines
.sidebar-section {
    box-shadow: 0 0px 1px 0 #000000 !important;
}

span.navigation:before {
    background-color: #d4d4d4 !important;
}

.section-title h2:before {
    background-color: #d4d4d4 !important;
}

.sidebar ul li a {
    border-bottom: 1px solid #d4d4d4 !important;
}

.sidebar ul li a:hover {
    color: rgba(0, 0, 0, 0.7) !important;
}

.sidebar-section-twitter {
    padding: 10px;
    box-shadow: 0 0px 1px 0 #1da1f2 !important;
}

// Twitter header
.customisable-highlight {
    font-size: 21px;
}

// Job board

.job-board {
    width: 100%;
    height: 500px;
}

// Committee

.committee-pictures {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 5%;
}

// Sponsors sidebar

.sponsors-sidebar {
    font-size: 1.5em;
}

.sponsors-sidebar-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: max-content;
}

// Intro box
.wrapintro {
    background: none !important;
    width: 600px;
    padding: 2rem;
    max-width: 90%;
    margin: 0px auto;
    text-align: center;
    color: white !important;
}

.wrapintro h1 {
    font-size: 52px !important;
    text-shadow: 3px 3px #1c2b51;
}

// Main page content margins
section.recent-posts {
    margin-top: 20px;
}

// Older posts button color
.bottompagination span.navigation a {
    background-color: #1e315b !important;
    color: white !important;
}

.bottompagination span.navigation a:hover {
    background: #5b6e98 !important;
}

// Link underline color
.article-post a {
    box-shadow: inset 0 -2px 0 rgb(193, 212, 254), 0 2px 0 rgb(193, 212, 254) !important;
}

.article-post a:hover {
    box-shadow: inset 0 -30px 0 rgb(193, 212, 254), 0 2px 0 rgb(193, 212, 254) !important;
}
