---
# Lets add a comment to make this file sass-y.
# Change this file for any custom CSS.
---
// Import partials from `sass_dir` (defaults to `_sass`)

@import
	"syntax"
;

// Change button background on hover
.navbar-light .navbar-nav .nav-link {
	color: rgba(0,0,0,.5);
}

.intro .btn:hover {
	/* box-shadow: 0 0 11px rgba(33,33,33,.2); */
	background: #d6cb05;
}

#mc_embed_signup .button:hover {
	background-color: #453caf !important;
}

